<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Add this to your HTML -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <header class="full-width">
        <div class="container header_wrap">
           <div class="logo">
                <img src="/static/images/logo.png" style="width:100%; height:100%;"/>
           </div> 
           <div class="nav_bar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#feature-section">Features</a>
                </li>
                <li>
                    <a href="#pricing-section">Pricing</a>
                </li>
                <li>
                    <a href="/chatbot/">chatbot</a>
                </li>
                <li>
                    <a href="/terms-conditions/" >Register</a>
                </li>
                
                <li>
                     <a href="/sign-up/">Login</a>
                </li>
                
            </ul>
           </div>
           
        </div>
    </header>
    <section class="full-width banner">
        <div class="container">
           <h2> <span>Med Mock</span> Interviewer</h2>
           <p>Prepare for Medical School Interviews Like 
            Never Before</p>
            <div class="banner-btn"><a href="#">Learn More</a></div>
        </div>
    </section>
        <section id="feature-section" class="full-width ">
        <div class="container feature">
                <div class="sec-head">
                    <h2>Feature Highlights</h2>
                </div>
            
            <div class="Feature-key">
                <div class="key-icon">
                    <img src="/static/images/h1-custom-icon.png"/>
                </div>
                <div class="key-content">
                    <h5>Hyper-realistic Interviews</h5>
                    <p>Interact with an AI you can see and converse with, enhancing the realism of your mock interviews. </p>
                </div>
            </div>
            <div class="Feature-key">
                <div class="key-icon">
                    <img src="/static/images/h1-custom-icon.png"/>
                </div>
                <div class="key-content">
                    <h5>Expert in Medical Ethics </h5>
                    <p>Med Mock Interviewer is well-versed in medical ethics, ensuring you get the best questions, as well as valid and reliable feedback. </p>
                </div>
            </div>
            <div class="Feature-key">
                <div class="key-icon">
                    <img src="/static/images/h1-custom-icon.png"/>
                </div>
                <div class="key-content">
                    <h5>Original Questions</h5>
                    <p>Experience unique and relevant MMI or panel-style interview questions tailored to the country in which you are applying to medical school. </p>
                </div>
            </div>
            <div class="Feature-key">
                <div class="key-icon">
                    <img src="/static/images/h1-custom-icon.png"/>
                </div>
                <div class="key-content">
                    <h5>Detailed Feedback</h5>
                    <p>Receive comprehensive feedback on your responses, including insights on improvements and ideal answers. </p>
                </div>
            </div>
            <div class="Feature-key">
                <div class="key-icon">
                    <img src="/static/images/h1-custom-icon.png"/>
                </div>
                <div class="key-content">
                    <h5>Unlimited Access</h5>
                    <p>Access your interviewer at any time of day, anywhere in the world. There is no limit to the number of interviews you can undergo. </p>
                </div>
            </div>
            <div class="Feature-key">
                <div class="key-icon">
                    <img src="/static/images/h1-custom-icon.png"/>
                </div>
                <div class="key-content">
                    <h5>Affordability</h5>
                    <p>Offers unparalleled value, delivering top-quality mock interviews at a cost lower than competitors, ensuring the best value for your investment. </p>
                </div>
            </div>
        </div>
    </section>
    <section class="full-width testimonal">
        <div class="container">
                <div class="sec-head">
                    <h2>Testimonals</h2>
                </div>
            
                <div class="testimonal_wrapper">
                    
                    <div class="testimonal-outer">
                        <div class="testimonal-outer-box">
                            <div class="inner-box">
                                <div class="icon">    
			         <img src="/static/images/left-quote.png"/>                            
                                </div>
                                <div class="testimonal-content">
                                    <p>Med Mock Interviewer was a game changer for me. Practicing in my native language for Canadian med schools was really quite nice. It's like talking to a real person!</p>
                                </div>
                        </div>
                            </div>
                            <div class="customer-info">
                                <div class="img-box">
                                  
                                </div>
                                <div class="title-box">
                                    <h3 class="title">Juan</h3>
                                    <span class="designation">Customer</span>
                                </div>
                            </div>
                        
                    </div>

                    <div class="testimonal-outer">
                        <div class="testimonal-outer-box">
                            <div class="inner-box">
                                <div class="icon">
                            	 <img src="/static/images/left-quote.png"/>
                                </div>
                                <div class="testimonal-content">
                                    <p>I had a great experience with Med Mock Interviewer! It's been incredibly beneficial as an affordable alternative to the costly interview prep companies, offering the same level of quality without breaking the bank.</p>
                                </div>
                        </div>
                            </div>
                            <div class="customer-info">
                                <div class="img-box">
                                 
                                </div>
                                <div class="title-box">
                                    <h3 class="title">Jackson</h3>
                                    <span class="designation">Customer</span>
                                </div>
                            </div>
                        
                    </div>


                    <div class="testimonal-outer">
                        <div class="testimonal-outer-box">
                            <div class="inner-box">
                                <div class="icon">
                                 <img src="/static/images/left-quote.png"/>
                                </div>
                                <div class="testimonal-content">
                                    <p>Affordable, interviews available 24/7, and unexpectedly fun. </p>
                                </div>
                        </div>
                            </div>
                            <div class="customer-info">
                                <div class="img-box">
                            
                                </div>
                                <div class="title-box">
                                    <h3 class="title">Lauren</h3>
                                    <span class="designation">Customer</span>
                                </div>
                            </div>
                        
                    </div>
               </div>
        </div> 
        
    </section>
    <section class="full-width comparison">
        <div class="container">
            <div class="sec-head">
                <h2>Affordability Comparison</h2>
            </div>
            <div class="afford_wrap">
                <div class="new_book">
                    <img src="/static/images/DALLE2_4.png"/>
                    <div class="afford_content">
                        <p>new<span> text book</span></p>
                        <a href="#">Cost: $100</a>
                    </div>
                </div>

                <div class="new_book">
                    <img src="/static/images/D0LLE2.png"/>
                    <div class="afford_content">
                        <p>our </span>competitors  </p>
                        <a href="https://www.theaspiringmedics.co.uk/ai-for-medicine-interviews">Cost: $50/mo</a>
                    </div>
                </div>

                <div class="new_book">
                    <img src="/static/images/DALLE2_2.png"/>
                    <div class="afford_content">
                        <p>A <span>cell phone</span> plan</p>
                        <a href="https://www.rogers.com/plans">Cost: $60/mo</a>
                    </div>
                </div>

                <div class="new_book">
                    <img src="/static/images/DALLE2_3.png"/>
                    <div class="afford_content">
                        <p>Netflix </span>subscription</p>
                        <a href="https://help.netflix.com/en/node/24926">Cost: $17/mo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="full-width">
        
        <div class="container med-mock-vedio">
            <div class="sec-head">
                <h2>Demo</h2>
            </div>
            <video width="100%" height="100%" controls>
                <source src="/static/images/screen-capture.mp4" type="video/mp4">
                
              </video>
        </div>


    </section>

    <section id= "pricing-section" class="full-width pricing">
        <div class="container">
            <div class="sec-head">
                <h2>Pricing</h2>
            </div>
            <div class="pricing_wrapper">
                <div class="package">
                    <div class="dark_head">
                        <h3>Monthly</h3>
                    </div>
                    <div class="amount-wrap">
                        <div class="amount">
                           <div class="price"><span>$20</span> /month</div>
                            <p>Unlimited access to interviews. Don't miss out! No risk 1-day free trial.</p>
                        </div>
                        <div class= "price_btn">
                            <button id="monthlySubscribeBtn" class="btn">Subscribe Monthly</button>
                        </div>
                    </div>
                </div>

                <div class="package">
                    <div class="dark_head">
                        <h3>Every 3 Months</h3>
                    </div>
                    <div class="amount-wrap">
                        <div class="amount">
                           <div class="price"><span>$50</span> /3 months</div>
                            <p>Save $10 over a monthly subscription. Unlimited interview access. No risk 1-day free trial.</p>
                        </div>
                        <div class= "price_btn">
                            <button id="threeMonthsSubscribeBtn" class="btn">Subscribe for 3 Months</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loginMessage">
                <div class="login_inner">
                    <div class="login_content">
                     <span class="close_box"  onclick="closeLoginMessage()">x</span>
                    <p>Welcome to MockMedInterviewer.Please log in first</p>
                </div>
                </div>
                </div>
        </div>

    </section>

    <footer class="full-width footer-bg">
        <div class="container">
            <div class="footer_wrap">
                <div class="footer_left">
                    <div class="footer_logo">
                        <img src="/static/images/logo.png">
                    </div>
                    <div class="footer_content">
                        <p></p>

                    </div>
                </div>
                <div class="footer_center">
                    <h3>Quick Links</h3>
                   <div class="links"> <ul>
                        <li>
                            <a href="/privacy-policy/"> Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms-conditions/"> Terms & Condition</a>
                        </li>
                        <li>
                            <a href="/register/"> Contact Us</a>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="footer_right">
                    <h3>Get In Touch</h3>
                    <div class="links">
                        <ul><li><a href="#"></a></li>
                        <li><a href="#">medmockinterviewer@gmail.com</a></li>
                  
                        </ul>
                   </div>
                  <div class="social"> <ul>
                    <li><a href="http://www.youtube.com/@MedMockInterviewer"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/med_mock_interview/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.tiktok.com/@medmockinterview"><i class="fa-brands fa-tiktok"></i></a></li>
                   </ul>
                   </div>
                </div>
            </div>
            <div class="copy_right">
                Copyright © <a href="#">MOCK INTERVIEWER</a> All rights reserved.
            </div>
        </div>

    </footer>

    <script>
        $(document).ready(function() {
            // Function to get the authentication token from local storage
            function getAuthToken() {
                return localStorage.getItem('auth_token');  // Replace with your actual key
            }
        
            // Function to handle button click and make AJAX request
            function subscribeHandler(url) {
                var authToken = getAuthToken();
                console.log(authToken)
                if (!authToken) {
                // Token not found, display the login message
                $('#loginMessage').show();
                return;
            }
        
                $.ajax({
                    type: 'POST',  
                    url: url,
                    headers: {
                        'Authorization': 'token ' + authToken,
                        'Content-Type': 'application/json',  
                    },
                    success: function(response) {
                        // Handle success response
                        window.location.href = response;
                        console.log(response);
                    },
                    error: function(error) {
                        // Handle error response
                        console.error(error);
                    }
                });
            }
        
            // Click event for the monthly subscription button
            $('#monthlySubscribeBtn').on('click', function() {
                subscribeHandler('/stripe_one_month/');
            });
        
            // Click event for the three-month subscription button
            $('#threeMonthsSubscribeBtn').on('click', function() {
                subscribeHandler('/stripe_three_month/');
            });
        });

        function closeLoginMessage() {
        $('#loginMessage').hide();
    }
        </script>
        

</body>
</html>