<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="full-width">
    <div class="container tearms">
       <h2>Terms and Conditions for Med Mock Interviewer</h2>
     <h3> 1. Introduction</h3> 
<p>Welcome to Med Mock Interviewer. These Terms and Conditions govern your use of the Med 
Mock Interviewer website, and its interview preparation services (the "Service"). By accessing or 
using the Service, you agree to be bound by these Terms and Conditions and our Privacy Policy</p>

<p><span>2.</span>Intellectual Property Rights
The Service and all original content (including all text, graphics, user interface, visual interface, 
photographs, trademarks, logos, artwork, and computer code), the design, structure, selection, 
coordination, expression, and arrangement of such content, contained on the site is owned by 
Med Mock Interviewer and is protected by copyright, trademark, patent, trade secret, and other 
intellectual property or proprietary rights laws.</p>

<p>No part of the Service, nor any content, may be copied, reproduced, republished, uploaded, 
posted, publicly displayed, encoded, translated, transmitted, or distributed in any way to any 
other computer, server, website, or other medium for publication or distribution or for any 
commercial enterprise, without Med Mock Interviewer’s express prior written consent.</p>

<h3>3. Account Usage and Security</h3>
<p><span>a.</span>Account Registration: To access Med Mock Interviewer services, you must register for an 
account. During the registration process, you will be asked to provide certain information and 
you will establish a username and password. You agree to provide accurate, current, and 
complete information during the registration process and to update such information to keep it 
accurate, current, and complete</p>

<p><span>b.</span>Personal Use: Your account is for your personal, non-commercial use only. You agree not to 
share your account credentials or give access to your account to others. Any multiple-party use, 
sharing of accounts, or account transfer is prohibited. This includes sharing of accounts between 
individuals or group entities.</p>

<p><span>c.</span> Account Security: You are responsible for safeguarding the password that you use to access the 
Service and for any activities or actions under your password. Med Mock Interviewer cannot and 
will not be liable for any loss or damage arising from your failure to comply with the above.</p>

<p><span>d.</span>Notification of Breach: You agree to notify us immediately upon becoming aware of any 
breach of security or unauthorized use of your account.</p>

<p><span>e.</span> Account Restrictions: Med Mock Interviewer reserves the right to suspend or terminate your 
account if any information provided during the registration process or thereafter proves to be 
inaccurate, not current, or incomplete</p>

<h3>4. Your Use of the Site</h3>
<p>You must not use this website in any way that causes, or may cause, damage to the website or 
impairment of the availability or accessibility of Med Mock Interviewer or in any way which is 
unlawful, illegal, fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, 
or harmful purpose or activity</p>

<h3>5. Disclaimers</h3>
<p>The Service and its content are provided on an "as is" and "as available" basis without any 
warranties of any kind, either express or implied, including, but not limited to, the implied 
warranties of merchantability, fitness for a particular purpose, or non-infringement.</p>

<p>Med Mock Interviewer makes no warranty that the Service will meet your requirements; that the 
Service will be uninterrupted, timely, secure, or error-free; or that the results that may be 
obtained from the use of the Service will be accurate or reliable.</p>


<h3>6. Limitation of Liability</h3>
<p>In no event will Med Mock Interviewer, or its directors, employees, partners, agents, suppliers, 
or affiliates, be liable for any indirect, incidental, special, consequential, or punitive damages, 
including without limitation, loss of profits, data, use, goodwill, or other intangible losses, 
resulting from (i) your access to or use of or inability to access or use the Service; (ii) any 
conduct or content of any third party on the Service; (iii) any content obtained from the Service; 
and (iv) unauthorized access, use, or alteration of your transmissions or content, whether based 
on warranty, contract, tort (including negligence), or any other legal theory, whether or not we 
have been informed of the possibility of such damage.</p>

<h3>7. Indemnification</h3>
<p>You agree to defend, indemnify, and hold harmless Med Mock Interviewer and its licensee and 
licensors, and their employees, contractors, agents, officers, and directors, from and against any 
and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but 
not limited to attorney’s fees), resulting from or arising out of a) your use and access of the 
Service, or b) a breach of these Terms.</p>

<h3>8. Modifications to Terms</h3>
<p>Med Mock Interviewer reserves the right, at our sole discretion, to modify or replace these Terms 
at any time. We will provide at least 30 days' notice prior to any new terms taking effect. What 
constitutes a material change will be determined at our sole discretion.</p>

<h3>9. Governing Law and Jurisdiction</h3>
<p>These Terms shall be governed by and construed in accordance with the laws of Alberta, Canada, 
without regard to its conflict of law provisions. However, we acknowledge that you may be 
accessing and using Med Mock Interviewer from various jurisdictions around the world with 
different laws. While we strive to ensure our service complies with the legal requirements of as 
many jurisdictions as possible, it is the responsibility of the user to ensure that their use of Med 
Mock Interviewer complies with all local, regional, and national laws applicable to them.</p>

<p>Any disputes arising out of or in connection with these Terms and your use of Med Mock 
Interviewer, including any disputes related to the existence, validity, interpretation, performance, 
breach or termination of these Terms, or any disputes related to third-party claims brought in 
connection with your use of the Service, shall be subject to the exclusive jurisdiction of the 
courts of Alberta, Canada.</p>

<p>We aim to resolve any disputes amicably and efficiently. Users are encouraged to contact us 
directly to seek resolution for any concerns before initiating any legal proceedings</p>

<h3>10. Contact Us</h3>
<p>If you have any questions about these Terms, please contact us at 
    medmockinterviewer@gmail.com</p>


<div class="check"><input type="radio" name="check" value=""/> <p>have read and agree to the Terms and Conditions and Privacy Policy of Med 
Mock Interviewer. I understand that my account is for personal use only and cannot be shared 
with others. I am responsible for maintaining the confidentiality of my account information and 
for all activities that occur under my account.</p>
</div>
<div class="submit-btn"><a href="/register/">Submit</a></div>
    </div>
    </section>
</body>
</html>